@import '../lib/colors.scss';

.cell {
    height: 8vw;
    width: 8vw;
    max-height: 70px;
    max-width: 70px;
    text-align: center;
    line-height: 70px;
    box-shadow: 0 2px 2px $sblackd inset, 0 2px $sblackd;
    border-radius: 5%;
    z-index: -1;
}
