@import '../lib/colors';
@import '../lib/mixins/mixins';

.flex-wrapper {
    //background-color: $shoot;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    > #cb-wrapper {
        //background-color: $shoot;
        width: 40%;
        max-width: 400px;
        > #coffee-bk {
            width: 100%;
            height: auto;
            margin: auto;
        }
    }

    > #bt-wrapper {
        //background-color: $shoot;
        > #start-bt {
            @include text($wtintd, 5vh);
            background-color: $vlight;
            font-weight: bolder;
            border: 0.5vh solid $vlightb;
            //border-radius: 3vw;
            border-radius: 1.5vw;
            padding: 0.5vh 3vw;
        }
    }
}
